@model IEnumerable<IEnumerable<WebApplication1.Models.Predicate>>
@using WebApplication1.Models
<div id="results">
    <h4>@ViewBag.Status</h4><br />
    <h4>Список предикатов, вызывающих противоречие (по столбцам)</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="row">#</th>
                @{ 
                    var span = Model.Count<IEnumerable<WebApplication1.Models.Predicate>>();
                }
                <th scope="row" style="text-align: center" colspan="@span">Уравнения</th>
            </tr>
        </thead>
        @for (int j = 0; j < Model.First<IEnumerable<WebApplication1.Models.Predicate>>().Count<Predicate>(); j++)
        {
        <tr>
            <td>@(j + 1)</td>
            @for (int i = 0; i < Model.Count<IEnumerable<WebApplication1.Models.Predicate>>(); i++)
            {
                var item = Model.ElementAt(i).ElementAt(j);
                <td>@item.OpA.GetNameToDisplay()@Html.DisplayFor(modelItem => item.OperandA) @item.Op.GetNameToDisplay() @item.OpB.GetNameToDisplay()@Html.DisplayFor(modelItem => item.OperandB)</td>
            }
        </tr>
        }
    </table>
</div>

