@model WebApplication1.Models.Predicate

@{
    ViewBag.Title = "Создать";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавить новое выражение</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Предикат</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group" style="display: inline">
        @Html.LabelFor(model => model.OperandA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.OpA, htmlAttributes: new { @class = "form-control", @style = "display: inline; width: auto" })
            @Html.EditorFor(model => model.OperandA, new { htmlAttributes = new { @class = "form-control", @style = "display: inline; width: auto" } })
            @Html.EnumDropDownListFor(model => model.Op, htmlAttributes: new { @class = "form-control", @style = "display: inline; width: auto" })
            @Html.EnumDropDownListFor(model => model.OpB, htmlAttributes: new { @class = "form-control", @style = "display: inline; width: auto" })
            @Html.EditorFor(model => model.OperandB, new { htmlAttributes = new { @class = "form-control", @style = "display: inline; width: auto" } })<br />
            @Html.ValidationMessageFor(model => model.OperandA, "", new { @class = "text-danger" })<br />
            @Html.ValidationMessageFor(model => model.Op, "", new { @class = "text-danger" })<br />
            @Html.ValidationMessageFor(model => model.OperandB, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Создать" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
