@model IEnumerable<WebApplication1.Models.Predicate>
@using WebApplication1.Models
@{
    ViewBag.Title = "Предикаты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список предикатов в теории</h2>

<p>
    @Html.ActionLink("Добавить новый", "Create")
</p>

<table class="table table-bordered">
    @for(int i = 0; i < Model.Count(); i++)
    {
        var item = Model.ElementAt(i);
        <tr>
            <td>@(i + 1).</td>
            <td>@item.OpA.GetNameToDisplay()@Html.DisplayFor(modelItem => item.OperandA) @item.Op.GetNameToDisplay() @item.OpB.GetNameToDisplay()@Html.DisplayFor(modelItem => item.OperandB)</td>
            <td>@Html.ActionLink("Редактировать", "Edit", new { id = item.Id })</td>
            <td>@Html.ActionLink("Удалить", "Delete", new { id = item.Id })</td>
        </tr>
    } 
</table>

